@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

:root {
    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --neutral-blue: hsl(212, 21%, 14%); 
    --neutral-gray: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
  }

*{
    margin:0px;
    padding:0px;
  
}

body{
    font-family:  'Montserrat','Fraunces', sans-serif;
    line-height: 1.5;
    color: var(--neutral-blue);
    background-color: var(--primary-cream);
}

#container{
    width: 70%;
    height: 70%;
    border:20px solid red;
    border-radius: 15px;
}

img{
    float: inline-end;
    width:50%;
    height:50%;
    
}